
.metronome {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
}

.bpm-slider input {
  width: 100%;
  margin: 10px;
}

.metronome button {
  background: #46bac9;
  padding: 10px;
  border: 1px outset #5a8aaa;
  border-radius: 8px;
  width: 100px;
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px 3px grey;
  box-shadow: 1px 1px 10px rgb(91, 187, 243);
}